<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="NewDarkBot.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NetFramework, Version=v4.5.2" />
	</startup>
	<connectionStrings>
		<add name="dbx" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Jens\source\repos\NewDarkBot\NewDarkBot\Data\dbo1.mdf;Integrated Security=True" />
	</connectionStrings>					
 
</configuration>